<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Redirect to https" stopProcessing="true">
                    <match url=".*" />
                    <conditions>
                        <add input="{HTTPS}" pattern="off" ignoreCase="true" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" appendQueryString="false" />
                </rule>
            </rules>
        </rewrite>
		<httpErrors errorMode="DetailedLocalOnly" existingResponse="Auto">
   <remove statusCode="403" />
   <remove statusCode="404" />
   <remove statusCode="500" />
   <error statusCode="403" responseMode="File" path="index.html" />
   <error statusCode="404" responseMode="File" path="index.html" />
   <error statusCode="500" responseMode="File" path="index.html" />
 </httpErrors>
    </system.webServer>
	<system.web>
		<trust level="Full"/>
		<customErrors mode="RemoteOnly" defaultRedirect="index.html">
			<error statusCode="404" redirect="index.html"/>
			<error statusCode="500" redirect="index.html"/>
		</customErrors>
		
	</system.web>
</configuration>